.container-scroll {
  height: 250px;
}

.titulo-chart {
  text-align: center;
}

.marginTitle {
  margin-top: -20px;
}

.marginCharts {
  margin-top: -20px;
}

.marginTable {
  margin-top: -10px;
}

.hoverSvgFilter:hover {
  cursor: pointer;
}

.item-filters-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content-filter-item {
  height: 35px;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: calc(1px * 6);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-filter {
  margin: 0;
  font-weight: bold;
  color: white;
}

.menu-color {
  color: #212121;
  font-weight: bold;
}

/* Tablas */
.table-container {
  width: 100%;
  max-width: auto;
  margin: auto;
}

.table-container-sku {
  width: 100%;
  max-width: auto;
  margin: auto;
}

tr:hover td {
  background-color:#358da3;
  color: white;
}

.dif {
  color: green;
}

/* Responsive tables*/
@media screen and (max-width: 600px) {
  table {
    border: 0px;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 8px;
    display: block;
  }

  td {
    text-align: right;
    display: block;
  }

  td:last-child {
    border-bottom: 0px;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    float: left;
  }
}
/* Fin Tablas */

/* inicio estilos chart */

.gridFiltersCharts {
  display: grid;
  grid-template-columns: 95% 5%;
}

.gridFiltersTable {
  display: grid;
  grid-template-columns: 95% 5%;
}

/* media queryes */
@media (max-width: 600px) {

  .gridFiltersCharts {
    display: block;
  }

  .svgFilterChart {
    display: flex;
  }

  .titulo-chart {
    text-align: left;
  }

  .gridFiltersTable {
    display: block;
  }
}

@media (max-width: 1000px) {
  .chart-container {
    display: block;
    margin-top: 10%;
  }
}

@media (max-width: 900px) {
  .chart-container {
    display: block;
    margin-top: 20%;
  }
}

@media (max-width: 830px) {
  .chart-container {
    display: block;
    margin-top: 30%;
  }
}

.chart-container {
  width: 100%;
}

.chart-line {
  width: 70%;
  margin: 0 auto;
}

/* fin chart */
.diferencia {
  color: rgb(103 209 166);
}

.diferencia2 {
  color: rgb(255 92 96);
}