.redtri {
  width: 25px;
  height: 18px;
  margin-left: 8px;
}

/* Tablas */
.table-container {
    width: 100%;
    max-width: auto;
    margin: auto;
  }
  
  .table-container-sku {
    width: 100%;
    max-width: auto;
    margin: auto;
  }

  tr:hover td {
    background-color:#358da3;
    color: white;
  }
  
  .dif {
    color: green;
  }
  
  /* Responsive tables*/
  @media screen and (max-width: 600px) {
    table {
      border: 0px;
    }
  
    thead {
      display: none;
    }
  
    tr {
      margin-bottom: 8px;
      display: block;
    }
  
    td {
      text-align: right;
      display: block;
    }
  
    td:last-child {
      border-bottom: 0px;
    }
  
    td::before {
      content: attr(data-label);
      font-weight: bold;
      float: left;
    }
  }
  /* Fin Tablas */

  /* inicio estilos chart */

  .chart-container {
    width: 100%;
  }
  
  .chart-line {
    width: 90%;
  }
  
  .titulo-chart {
    text-align: center;
  }

  /* fin chart */