.redtri {
  width: 25px;
  height: 18px;
  margin-left: 8px;
}

/* Tablas */
.table-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
  }
  
  .table-container-sku {
    width: 100%;
    max-width: 1600px;
    margin: auto;
  }
  
  .table-container-tipoP {
    width: 100%;
    max-width: 1600px;
    margin: auto;
  }
  
  table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    text-align: left;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  
  th, td{
    padding: 7px;
  }
  
  thead{
    background-color: #cecece;
    border-bottom: solid 1px #919090;
    color: #000000;
  }
  
  tr:nth-child(even){
    background-color: #ddd;
  }
  
  tr:hover td{
    background-color: rgba(230, 97, 57, 0.987);
    color: white;
  }
  
  .dif {
    color: green;
  }
  
  /* Responsive tables*/
  @media screen and (max-width: 600px) {
    table {
      border: 0px;
    }
  
    thead {
      display: none;
    }
  
    tr {
      margin-bottom: 8px;
      display: block;
    }
  
    td {
      text-align: right;
      display: block;
    }
  
    td:last-child {
      border-bottom: 0px;
    }
  
    td::before {
      content: attr(data-label);
      font-weight: bold;
      float: left;
    }
  }
  /* Fin Tablas */

  /* inicio estilos chart */

  .chart-container {
    width: 100%;
  }
  
  .chart-line {
    width: 90%;
  }
  
  .titulo-chart {
    text-align: center;
  }

  /* fin chart */