<!-- chart -->
<div class="chart-container">
  <div class="titulo-chart">
    <h2>Total SKU marcas</h2>
  </div>
  <div class="chart-line">
    <canvas id="myChart" width="200px" height="120px" ></canvas>
  </div>
</div>
<!-- fin chart -->

<!-- tabla SKU -->
<div class="table-container-sku">
  <h2>Resumen mes SKU</h2>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border hover">
    <thead>
      <tr>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Tipo de prenda</th>
        <th>SKU</th>
        <th>Precio promedio</th>
        <th>Nueva llegada</th>
        <th>Tasa de frescura</th>
        <th>Descuento promedio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of photos">
        <td data-label="Categoría"> {{e.categoria}} </td>
        <td data-label="Subcategoría"> {{e.x}} </td>
        <td data-label="Tipo de prenda"> {{e.imageName}} </td>
        <td data-label="SKU"> {{e.x}} </td>
        <td data-label="Precio promedio"> {{e.x}} </td>
        <td data-label="Nueva llegada"> {{e.x}} </td>
        <td data-label="Tasa de frescura"> {{e.x}} </td>
        <td data-label="Descuento promedio"> {{e.x}} </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Fin tabla SKU -->
