<!-- chart -->
<div class="chart-container">
  <div class="titulo-chart">
    <h2>Toral SKU marcas</h2>
  </div>
  <div class="chart-line">
    <canvas id="myChart" width="200px" height="100px" #mychart></canvas>
  </div>
</div>
<!-- fin chart -->

<!-- tabla SKU -->
<div class="table-container-sku">
  <h2>Resumen mes SKU</h2>
  <table class="w">
    <thead>
      <tr>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Tipo de prenda</th>
        <th>SKU</th>
        <th>Precio promedio</th>
        <th>Nueva llegada</th>
        <th>Tasa de frescura</th>
        <th>Descuento promedio</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td data-label="Categoría">Todo</td>
        <td data-label="Subcategoría">Vestir</td>
        <td data-label="Tipo de prenda">Todo</td>
        <td data-label="SKU">124m</td>
        <td data-label="Precio promedio">$55.50</td>
        <td data-label="Nueva llegada">El 14.97m</td>
        <td data-label="Tasa de frescura">12.07%</td>
        <td data-label="Descuento promedio" style="color: green">88,69%</td>
      </tr>
      <tr>
        <td data-label="Categoría">Todo</td>
        <td data-label="Subcategoría">Calzado</td>
        <td data-label="Tipo de prenda">Todo</td>
        <td data-label="SKU">Los 30.61m</td>
        <td data-label="Precio promedio">$82.00</td>
        <td data-label="Nueva llegada">Los 4.27m</td>
        <td data-label="Tasa de frescura">13.97%</td>
        <td data-label="Descuento promedio" style="color: green">88,69%</td>
      </tr>
      <tr>
        <td data-label="Categoría">Todo</td>
        <td data-label="Subcategoría">Interior</td>
        <td data-label="Tipo de prenda">Todo</td>
        <td data-label="SKU">El 14.51m</td>
        <td data-label="Precio promedio">$35.50</td>
        <td data-label="Nueva llegada">1.98m</td>
        <td data-label="Tasa de frescura">13.70%</td>
        <td data-label="Descuento promedio" style="color: green">88,69%</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Fin tabla SKU -->
