<!-- chart descuento promedio -->
<div class="chart-container">
  <div class="titulo-chart">
    <h2>Descuento promedio marcas</h2>
  </div>
  <div class="chart-line">
    <canvas id="myChart" width="200px" height="100px" #mychart></canvas>
  </div>
</div>

<!-- tabla descuento promedio -->
<div class="table-container">
  <h2>Categorías con mayor cambio - Descuento promedio</h2>
  <p>Comparación mes a mes</p>
  <table>
    <thead>
      <tr>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Tipo de prenda</th>
        <th>Promedio descuento</th>
        <th>Diferencia</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td data-label="Categoría">Mujeres</td>
        <td data-label="Subcategoría">Ropa</td>
        <td data-label="Tipo de prenda">Pantalon</td>
        <td data-label="Promedio descuento">50%</td>
        <td data-label="Diferencia" style="color: green">88,69% ↑</td>
      </tr>
      <tr>
        <td data-label="Categoría">Mujeres</td>
        <td data-label="Subcategoría">Ropa</td>
        <td data-label="Tipo de prenda">Vestido</td>
        <td data-label="Promedio descuento">50%</td>
        <td data-label="Diferencia" style="color: green">66,50% ↑</td>
      </tr>
      <tr>
        <td data-label="Categoría">Mujeres</td>
        <td data-label="Subcategoría">Ropa</td>
        <td data-label="Tipo de prenda">Camisa</td>
        <td data-label="Promedio descuento">50%</td>
        <td data-label="Diferencia" style="color: green">46,94% ↑</td>
      </tr>
      <tr>
        <td data-label="Categoría">Mujeres</td>
        <td data-label="Subcategoría">Calzado</td>
        <td data-label="Tipo de prenda">Sandalias</td>
        <td data-label="Promedio descuento">50%</td>
        <td data-label="Diferencia" style="color: green">67,02% ↑</td>
      </tr>
      <tr>
        <td data-label="Categoría">Mujeres</td>
        <td data-label="Subcategoría">Calzado</td>
        <td data-label="Tipo de prenda">Zapatos</td>
        <td data-label="Promedio descuento">50%</td>
        <td data-label="Diferencia" style="color: green">34,43% ↑</td>
      </tr>
      <tr>
        <td data-label="Categoría">Mujeres</td>
        <td data-label="Subcategoría">Calzado</td>
        <td data-label="Tipo de prenda">Tenis</td>
        <td data-label="Promedio descuento">50%</td>
        <td data-label="Diferencia" style="color: green">34,08% ↑</td>
      </tr>
      <tr>
        <td data-label="Categoría">Mujeres</td>
        <td data-label="Subcategoría">Accesorios</td>
        <td data-label="Tipo de prenda">Accesorios</td>
        <td data-label="Promedio descuento">$50%</td>
        <td data-label="Diferencia" style="color: green">132,93% ↑</td>
      </tr>
      <tr>
        <td data-label="Categoría">Mujeres</td>
        <td data-label="Subcategoría">Ropa</td>
        <td data-label="Tipo de prenda">Top</td>
        <td data-label="Promedio descuento">50%</td>
        <td data-label="Diferencia" style="color: green">132,93% ↑</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Fin tabla descuento promedio -->
