input[type="file"]:focus {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.contenedor-labels {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.images {
  margin-top: 20px;
}

.btn-sidebar {
  background: #424242;
  border: 1px solid #424242;
  border-radius: 50%;
}

.custom-file {
  border-radius: 25px;
  background-color: #efefef;
}

.custom-file-label {
  margin-left: 30px;
  margin-right: 20px;
}

.text-search {
  position: absolute;
  margin-left: 10px;
}

.total-images {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.number-total {
  font-weight: normal;
}

.text-total {
  font-weight: bold;
}

.label-bold {
  font-weight: bold;
}

.item-filters-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content-filter-item {
  height: 50px;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: calc(4px * 6);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 25px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-filter {
  margin: 0;
  font-weight: bold;
  color: white;
}

/* Cards */
.card {
  border-radius: 12px;
  box-shadow: none;
}

.container-image {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease;
  background-color: rgba(30, 30, 30, 0.5);
  border-radius: 12px;
}

.container-image:hover .overlay {
  opacity: 1;
}

#username {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-username {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-username span {
  font-weight: bold;
}

.card-img-top {
  border-radius: 12px;
  opacity: 1;
  transition: 0.5s ease;
}

.btn-agregar,
.btn-delImage {
  display: flex;
  justify-content: center;
}

.btn-agregar {
  background: #20537d;
  padding: 0.4rem 1rem;
}

.btn-agregar:hover {
  background: rgba(32, 83, 125, 0.8);
}

.btn-delImage {
  background: #b52540;
}

.btn-delImage:hover {
  background: rgba(181, 37, 64, 0.8);
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.btn-delCar {
  padding: 2px;
  margin-right: 15px;
}

.btn-delCar:hover {
  background: rgba(32, 32, 32, 0.8);
}

.list-caract {
  padding-left: 20px;
}

.btn-clear {
  font-size: 14px;
  line-height: normal;
}

.item-list li {
  list-style: none;
}

.item-list {
  display: flex;
  margin-bottom: 5px;
}

/* Container colors */

.container-colors {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.colors-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (min-width: 300px) {
  .card-columns {
    column-count: 2;
  }

  .card-content-text {
    display: none;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }

  .card-content-text {
    display: none;
  }
}

@media (min-width: 1024px) {
  .card-columns {
    column-count: 4;
  }
  .card-content-text {
    display: none;
  }
}

.container-username p {
  font-size: 11px;
}

/* Spinner */

.spinner-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-container {
  margin-top: 10px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
