<div class="grid">
  <!-- chart -->
  <div class="chart-container">
    <div class="titulo-chart">
      <h2>Novedades comparacion marcas</h2>
    </div>
    <div class="chart-line">
      <canvas id="myChart" width="200px" height="100px" #mychart></canvas>
    </div>
  </div>
  <!-- fin chart -->

  <!-- tabla recien llegados -->
  <div class="table-container">
    <h2>Categorías con mayor cambio - Recien llegados</h2>
    <p>Comparación mes a mes</p>
    <table>
      <thead>
        <tr>
          <th>Categoría</th>
          <th>Subcategoría</th>
          <th>Tipo de prenda</th>
          <th>Los recién llegados</th>
          <th>Diferencia</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td data-label="Categoría">Mujeres</td>
          <td data-label="Subcategoría">Ropa</td>
          <td data-label="Tipo de prenda">Pantalon</td>
          <td data-label="Los recién llegados">65.722</td>
          <td data-label="Diferencia" style="color: green">88,69% ↑</td>
        </tr>
        <tr>
          <td data-label="Categoría">Mujeres</td>
          <td data-label="Subcategoría">Ropa</td>
          <td data-label="Tipo de prenda">Vestido</td>
          <td data-label="Los recién llegados">1.048.929</td>
          <td data-label="Diferencia" style="color: green">66,50% ↑</td>
        </tr>
        <tr>
          <td data-label="Categoría">Mujeres</td>
          <td data-label="Subcategoría">Ropa</td>
          <td data-label="Tipo de prenda">Camisa</td>
          <td data-label="Los recién llegados">116.939</td>
          <td data-label="Diferencia" style="color: green">46,94% ↑</td>
        </tr>
        <tr>
          <td data-label="Categoría">Mujeres</td>
          <td data-label="Subcategoría">Calzado</td>
          <td data-label="Tipo de prenda">Sandalias</td>
          <td data-label="Los recién llegados">1.316.074</td>
          <td data-label="Diferencia" style="color: green">67,02% ↑</td>
        </tr>
        <tr>
          <td data-label="Categoría">Mujeres</td>
          <td data-label="Subcategoría">Calzado</td>
          <td data-label="Tipo de prenda">Zapatos</td>
          <td data-label="Los recién llegados">92.419</td>
          <td data-label="Diferencia" style="color: green">34,43% ↑</td>
        </tr>
        <tr>
          <td data-label="Categoría">Mujeres</td>
          <td data-label="Subcategoría">Calzado</td>
          <td data-label="Tipo de prenda">Tenis</td>
          <td data-label="Los recién llegados">281.374</td>
          <td data-label="Diferencia" style="color: green">34,08% ↑</td>
        </tr>
        <tr>
          <td data-label="Categoría">Mujeres</td>
          <td data-label="Subcategoría">Accesorios</td>
          <td data-label="Tipo de prenda">Accesorios</td>
          <td data-label="Los recién llegados">7.006</td>
          <td data-label="Diferencia" style="color: green">132,93% ↑</td>
        </tr>
        <tr>
          <td data-label="Categoría">Mujeres</td>
          <td data-label="Subcategoría">Ropa</td>
          <td data-label="Tipo de prenda">Top</td>
          <td data-label="Los recién llegados">18.547</td>
          <td data-label="Diferencia" style="color: green">132,93% ↑</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Fin tabla recien llegados -->
</div>
