.container-scroll {
  height: 250px;
}

.filtersCharts {
  display: flex;
  width: 100%;
}

.filterTable {
  display: flex;
  width: auto;
}

.filterSvgCharts, .filterSvgTable {
  margin-left: 20px;
  margin-top: -10px;
}

.hoverSvgFilter:hover {
  cursor: pointer;
}

.item-filters-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content-filter-item {
  height: 35px;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: calc(1px * 6);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-filter {
  margin: 0;
  font-weight: bold;
  color: white;
}

.menu-color {
  color: #212121;
  font-weight: bold;
}

/* Tablas */
.table-container {
    width: 100%;
    max-width: auto;
    margin: auto;
  }
  
  tr:hover td {
    background-color:#358da3;
    color: white;
  }
  
  .dif {
    color: green;
  }
  
  /* Responsive tables*/
  @media screen and (max-width: 600px) {
    table {
      border: 0px;
    }
  
    thead {
      display: none;
    }
  
    tr {
      margin-bottom: 8px;
      display: block;
    }
  
    td {
      text-align: right;
      display: block;
    }
  
    td:last-child {
      border-bottom: 0px;
    }
  
    td::before {
      content: attr(data-label);
      font-weight: bold;
      float: left;
    }
  }
  /* Fin Tablas */

  /* inicio estilos chart */

  .chart-container {
    width: 100%;
  }
  
  .chart-line {
    width: 90%;
  }
  
  .titulo-chart {
    text-align: center;
  }

  /* fin chart */
  
  /* grid para poner las cosas en una sola fila */

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }



  /* media queryes */

  @media (max-width: 1000px) {
    .grid {
      display: block;
    }
  }

  .diferencia {
    color: rgb(103 209 166);
  }
  
  .diferencia2 {
    color: rgb(255 92 96);
  }