.hoverSvgFilter:hover {
  cursor: pointer;
}

.filtersTable {
  padding-bottom: 1rem;
}

.filtersChart {
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 1rem;
}

.btnAccordion {
  box-shadow: none !important;
  background-color: #FFFFFF !important;
  border: none !important;
}

.arrow {
  margin-left: 1rem;
  margin-top: -3px;
  float: left;
}

.flechaFilters	{
  display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 auto;
	border-top: solid 3px;
	border-right: solid 3px;
}

.flechaFilters.abajo {
	transform: rotate(135deg);
}

/* Filtros aplicados en pantalla */
.item-filters-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content-filter-item {
  display: flex;
  text-align: center;
}

.item-filter {
  margin: 0;
  font-weight: bold;
  color: black;
}

.itemsFilters {
  margin-top: -30px;
}

/* Filtros aplicados en pantalla */


/* Estilos para el modal */
.menu-color {
  color: #212121;
  font-weight: bold;
}

.itemsModal {
  color: #212121;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0px;
}

.container-scroll {
  height: 250px;
}

/* Estilos para el modal */


/* sistema grid para organizar la parte superior (resumen, select, date) */
.grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.input-grid1 {
  display: grid;
  grid-template-columns: 45% 45% 10%;
  gap: 3%;
  align-items: start;
}

.container-top {
  width: 100%;
}

.selectTop {
  margin-top: -20px;
  margin-right: 20px;
}

/*CSS GRID*/
.grid-container {
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: 75% 25%;
  margin-bottom: 20px;
}

.grid-container-item1 {
  background-color: #dfdfdf;
  display: grid;
  grid-template-columns: 45% 55%;
}

.grid-container-item2 {
  display: grid;
  grid-template-columns: 98% 2%;
}

.grid-container-item3 {
  display: grid;
  grid-template-columns: 99% 1%;
}

@media screen and (max-width: 600px) {
  .grid {
    display: block;
  }

  .grid-container-item2 {
    display: grid;
    grid-template-columns: 95% 5%;
  }

  .grid-container-item3 {
    display: grid;
    grid-template-columns: 95% 5%;
  }

  .input-grid1 {
    display: grid;
    grid-template-columns: 45% 45% 10%;
  }

  .titulo1 {
    text-align: center;
  }
}

.item1 {
  border-radius: 8px;
}

.item2 {
  border-radius: 8px;
}

.item3 {
  border-radius: 8px;
}

.item4 {
  border-radius: 8px;
  margin-right: 12px;
  grid-area: 1 / 2 / 4 / 4;
}



.imgPrendas {
  width: 32px;
  height: 32px;
  margin-bottom: 15px;
}

.item1-1-content {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 15px;
}

.item1-2-content {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px auto;
  text-align: center;
}

.item2-content {
  background-color: #dfdfdf;
  height: auto;
  text-align: center;
  margin: 0 auto;
  height: 250px;
  padding-top: 125px;
  border-radius: 8px;
}

.item3-content {
  background-color: #dfdfdf;
  height: auto;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
}

.item2-2-img {
  display: inline-block;
  margin: 15px 10px 5px 20px;
}

.colorSub {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
}

.colorx {
  background-color: #00000012;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
}

.datepickerMargin {
  margin-top: -20px;
}

/* canvas */
canvas {
  height: 200px;
}


@media screen and (max-width: 1000px) {
  .grid-container {
    display: block;
  }

  .grid-container-item1 {
    display: block;
  }

}

@media screen and (min-width: 1440px) {
  .imgPrendas {
    width: 55px;
    height: 55px;
    margin-bottom: 15px;
  }
}

/* clases del routing */
.activo {
  background-color: #c4e3eb;
  color: black;

}

a.sel2.activo {
  background-color: transparent;
  color: #358da3;
}

a.sel2.activo::before {
  content: " ";
  position: absolute;
  margin-top: 2.5px;
  left: 30px;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background: #358da3;
}

/* Tablas */
table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  text-align: left;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

th, td{
  padding: 7px;
}

thead{
  background-color: #cecece;
  border-bottom: solid 1px #919090;
  color: #000000;
}

tr{
  background-color: #ddd;
}

tr:hover td {
  background-color:#358da3;
  color: white;
}

.dif {
  color: green;
}

.imgPrendasTabla {
  width: 30px;
  height: 30px;
}

/* Responsive tables*/
@media screen and (max-width: 600px) {
  table {
    border: 0px;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 8px;
    display: block;
  }

  td {
    text-align: right;
    display: block;
  }

  td:last-child {
    border-bottom: 0px;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    float: left;
  }
}
/* Fin Tablas */

/*Spinner*/
.loading {
  margin: 0 auto;
  margin-bottom: 20px;
  visibility: visible;
}

.loadingText {
  margin-left: -10px;
}

.sp-position {
  position: absolute;
  left: 50%;
  top: 50%;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

/* ocultar componentes en el modal */

.modalHidden {
  visibility: hidden;
}

.modalShow {
  visibility: visible;
}