<div class="grid">
  <div class="chart-container">
    <div class="titulo-chart">
      <h2>Precio promedio marcas</h2>
      <select type="" class="form-control col-md-2" >
        <option value="mes">Mes</option>
        <option value="year">Año</option>
      </select>
    </div>
    <div class="chart-line">
      <canvas id="myChart" width="200px" height="120px" #mychart></canvas>
    </div>
  </div>

  <div class="table-container">
    <h2>Categorías con mayor cambio - Precio promedio</h2>
    <p>Comparación mes a mes</p>

    <mat-form-field appearance="standard">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo. Zapatos" #input>
    </mat-form-field>

    <div class="mat-elevation-z4">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Categoria Column -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabletitle"> Categoría </th>
          <td mat-cell *matCellDef="let element" data-label="Categoría"> {{element.categoria}} </td>
        </ng-container>

        <!-- Subcategoría Column -->
        <ng-container matColumnDef="subcategoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabletitle"> Subcategoría </th>
          <td mat-cell *matCellDef="let element" data-label="Subcategoría"> {{element.subcategoria}} </td>
        </ng-container>

        <!-- Tipo de prenda Column -->
        <ng-container matColumnDef="tipoprenda">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabletitle"> Tipo de prenda </th>
          <td mat-cell *matCellDef="let element" data-label="Tipo de prenda"> {{element.tipoprenda}} </td>
        </ng-container>

        <!-- Precio promedio Column -->
        <ng-container matColumnDef="preciopromedio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabletitle"> Precio promedio </th>
          <td mat-cell *matCellDef="let element" data-label="Precio promedio"> {{element.preciopromedio}} </td>
        </ng-container>

        <!-- Diferencia Column -->
        <ng-container matColumnDef="diferencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabletitle"> Diferencia </th>
          <td mat-cell *matCellDef="let element" data-label="Diferencia"> {{element.diferencia}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>

    </div>

  </div>

</div>