.container-scroll {
  height: 250px;
}

.titulo-chart {
  text-align: center;
}

.marginTitle {
  margin-top: -20px;
}

.marginCharts {
  margin-top: -20px;
}

.marginTable {
  margin-top: -10px;
}

.hoverSvgFilter:hover {
  cursor: pointer;
}

.item-filters-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content-filter-item {
  height: 35px;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: calc(1px * 6);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxAlign {
  display: flex;
  flex-flow: row wrap;
  gap: 2%;
}

.colorStyles{
  width: 30px !important;
  height: 30px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  border-radius: 5px;
  box-shadow: none;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

.colorStyles:hover {
  cursor: pointer;
}

.colorStyles:checked:after {
  content: '✔';
  color: white;
}

.colorStyles2 {
  width: 30px !important;
  height: 30px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  border-radius: 5px;
  box-shadow: none;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
}

.colorStyles2:hover {
  cursor: pointer;
}

.colorStyles2::after {
  content: 'Todo';
  color: black;
}

.colorStyles2:checked:after {
  content: '✔';
  font-size: 20px;
  color: black;
}

.item-filter {
  margin: 0;
  font-weight: bold;
  color: white;
}

.menu-color {
  color: #212121;
  font-weight: bold;
}

/* Tablas */
.mat-form-field {
  width: 100%;
  font-size: 14px;
  margin: 0 auto;
}

.table-container {
  width: 100%;
  max-width: auto;
}

tr:hover td {
  background-color:#358da3;
  color: white;
}

.alignTableTitles {
  text-align: center;
}

.alignTableItems {
  text-align: center;
}

/* Responsive tables*/
@media screen and (max-width: 1024px) {
  table {
    border: 0px;
  }

  th {
    display: none;
  }

  tr {
    margin-bottom: 8px;
    display: block;
  }

  td {
    text-align: right;
    display: block;
  }

  td:last-child {
    border-bottom: 0px;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    float: left;
  }

  .alignTableItems {
    text-align: right;
  }
}
/* Fin Tablas */

/* inicio estilos chart */
.chart-container {
  width: 100%;
}

.chart-line {
  width: 95%;
}
/* fin chart */


/* grid para poner las cosas en una sola fila */

.grid-informs {
  display: grid;
  grid-template-columns: 50% 50%;
}

.alignFilterChart {
  display: grid;
  grid-template-columns: 99% 1%;
  text-align: center;
}

.alignFilterTable {
  display: grid;
  grid-template-columns: 99% 1%;
  text-align: center;
}

.svgFilter {
  margin-bottom: -10px;
  margin-left: -25px;
}

.svgFilterChart {
  margin-bottom: -10px;
  margin-left: -100px;
}


.diferencia {
  color: rgb(103 209 166);
}

.diferencia2 {
  color: rgb(255 92 96);
}

/* media queryes */
@media (max-width: 1024px) {

  .alignFilterChart {
    display: inline-grid;
    grid-template-columns: 90% 10%;
    width: 100%;
    align-items: center;
  }

  .alignFilterTable {
    display: grid;
    grid-template-columns: 90% 10%;
    text-align: center;
  }

  .svgFilterChart {
    margin-bottom: 7px;
    margin-left: 0px;
  }

  .svgFilter {
    margin-bottom: 7px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .grid-informs {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .grid-informs {
    display: block;
    margin-top: 20%;
  }
}

@media screen and (max-width: 600px) {
  .grid-informs {
    display: block;
    margin-top: 30%;
  }
}
