/* sistema grid para organizar la parte superior (resumen, select, date) */
.grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.input-grid1 {
  display: grid;
  grid-template-columns: 45% 45% 10%;
  gap: 3%;
  align-items: start;
}

.detalles {
  display: flex;
  gap: 1%;
  justify-content: center;
}

.filterTable {
  display: grid;
  grid-template-columns: 98% 2%;
}

.svgFilter {
  margin-top: 7px;
}

@media screen and (max-width: 600px) {
  .grid {
    display: block;
  }

  .filterTable {
    display: grid;
    grid-template-columns: 90% 10%;
  }

  .titulo1 {
    text-align: center;
  }
}

.cardAlign {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  justify-content: center;
}

.datepickerMargin {
  margin-top: -20px;
}

/* Tablas */
.container-scroll {
  height: 250px;
}

.tableContainer {
  margin-top: -18px;
}

.itemsMargin {
  margin-top: -18px;
}

.hoverSvgFilter:hover {
  cursor: pointer;
}

.item-filters-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content-filter-item {
  height: 35px;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: calc(1px * 6);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-filter {
  margin: 0;
  font-weight: bold;
  color: white;
}

.checkboxAlign {
  display: flex;
  flex-flow: row wrap;
  gap: 2%;
}

.colorStyles{
  width: 30px !important;
  height: 30px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  border-radius: 5px;
  box-shadow: none;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

.colorStyles:hover {
  cursor: pointer;
}

.colorStyles:checked:after {
  content: '✔';
  color: white;
}

table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  text-align: left;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

th, td{
  padding: 7px;
}

thead{
  background-color: #cecece;
  border-bottom: solid 1px #919090;
  color: #000000;
}

tr:nth-child(even){
  background-color: #ddd;
}

tr:hover td {
  background-color:#358da3;
  color: white;
}

.dif {
  color: green;
}

.alignTableTitles {
  text-align: center;
}

.alignTableItems {
  text-align: center;
}

.prenda1 {
  width: 120px;
  height: 150px;
}

.imgCards {
  width: 100px;
  height: 100px;
}

/* Responsive tables*/
@media screen and (max-width: 1024px) {
  table {
    border: 0px;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 8px;
    display: block;
  }

  td {
    text-align: right;
    display: block;
  }

  td:last-child {
    border-bottom: 0px;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    float: left;
  }

  .alignTableItems {
    text-align: right;
  }
}
/* Fin Tablas */

/* sidebar styles */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  background-color: #cecece;
  min-height: 100vh;
  margin-left: -12rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 12rem;
  padding: 1rem;
  padding-top: 3rem;
}

.contenedor-labels {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 175px;
}

.btn-sidebar {
  background: #cecece;
  border: 0px solid #cecece;
  width: 18px;
  height: 100px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.flecha	{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 auto;
	border-top: solid 3px;
	border-right: solid 3px;
}

.flecha.izquierda {
	transform: rotate(225deg);
}

.menu-color,
.prendaGen {
  color: #212121;
  font-weight: bold;
}

.material-icons{
  font-size: 30px;
}

.sel1 {
  font-size: 16px;
  padding: 10px 0;
  display: block;
  color: rgba(0, 0, 0, 0.987);
  border-bottom: 2px solid rgba(92, 92, 92, 0.974);
}

.sel2 {
  font-size: 14px;
  padding: 5px 0;
  display: block;
  color: rgba(0, 0, 0, 0.987);
  text-decoration: none;
}

.imgsel {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  text-align: center;
}

.imgsel2 {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}

.firstitem {
  padding-top: 10px;
}

.itemlist {
  margin-left: 30px;
}

#page-content-wrapper {
  min-width: 100vw;
  overflow: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 1024px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    overflow: hidden;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -12rem;
  }
}

/* Estilos de items del filtro*/
.list-items-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list-items-container p {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}

/* clases del routing */
.activo {
  background-color:#c4e3eb ;
  color: black;

}

a.sel2.activo {
  background-color: transparent;
  color: #358da3;
}

a.sel2.activo::before {
  content: " ";
  position: absolute;
  margin-top: 2.5px;
  left: 25px;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background: #358da3;
}
