<!-- siderbar -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="menu-container">
      <div class="list-group">
        <ul class="list-unstyled components mb-5">

          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="sel1">
              <img src="./assets/rect.png" alt="" class="imgsel material-icons" />Comparativos<img
                src="./assets/tri.png" alt="" class="imgsel2" />
            </a>
            <ul class="collapse list-unstyled firstitem itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="/informes/informePrecios" routerLinkActive="activo">Precio promedio</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="/informes/informeDescuentos" routerLinkActive="activo">Descuento
                  promedio</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="/informes/informeNuevos" routerLinkActive="activo">Recien llegados</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="/informes/informeDescontinuados"
                  routerLinkActive="activo">Descontinuados</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="/informes/informeSKU" routerLinkActive="activo">Resumen sku</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#colectionSubmenu" data-toggle="collapse" aria-expanded="false" class="sel1">
              <img src="./assets/rect.png" alt="" class="imgsel" />Productos<img src="./assets/tri.png" alt="imagen"
                class="imgsel2" />
            </a>
            <ul class="collapse list-unstyled firstitem itemlist" id="colectionSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="/informeCategoria" routerLinkActive="activo">Prendas</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="colectionSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="../productos/general" routerLinkActive="activo">General</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="colectionSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="../productos/informeCatMujer" routerLinkActive="activo">Categoria
                  mujeres</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="colectionSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="../productos/informeCatHombre" routerLinkActive="activo">Categoria
                  hombres</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="colectionSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="../productos/informeCatKids" routerLinkActive="activo">Categoria kids</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- boton ocultar -->
  <div class="contenedor-labels">
    <div class="button-sidebar">
      <button class="btn-sidebar" id="menu-toggle-sidebar2">
        <span class="flecha izquierda"></span>
      </button>
    </div>
  </div>
  <!-- fin boton ocultar -->
  <div class="container-cards mt-3 ml-3 mr-3">
    <div class="grid">
      <div class="titulo-grid1">
        <h1 class="titulo-h1">Categorías</h1>
      </div>

      <div class="input-grid1">
        <input type="date" [(ngModel)]="inicio" (ngModelChange)="fechaInicio()">
        <input type="date" [(ngModel)]="fin" (ngModelChange)="fechaFin()">

        <!-- filtro de las cards -->
        <svg xmlns="http://www.w3.org/2000/svg" (click)="openModalCards(templateCards)" width="17" heigth="17"
          xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.0"
          viewBox="0.0 0.0 180.0 210.0" zoomAndPan="magnify" style="fill:#000000 " role="img"
          aria-label="Illustration of a Funnel" class="hoverSvgFilter">
          <g id="__id33_ssutzzo1g">
            <path d="m350 144.09h180v20l-70 90v100l-40-20v-80l-70-90v-20" transform="translate(-350 -144.09)"
              style="fill: inherit"></path>
          </g>
        </svg>
        <br>
        <ng-template #templateCards>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Filtros</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-unstyled components">

              <li class="active">
                <a href="#filterMArk" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Marca
                </a>
                <ul class="collapse list-unstyled" id="filterMArk">

                  <li *ngFor="let origin of originData">
                    <label class="control control--checkbox">
                      <input class="marcaCards" type="checkbox" value="{{origin.value}}" name="{{origin.value}}"
                        (change)="validateCheckFilter($event.target.checked, origin, $event.target.className, $event.target)"
                        id="marca" />
                      {{origin.text}}
                    </label>
                  </li>
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterCategory" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Categoria
                </a>
                <ul class="collapse list-unstyled" id="filterCategory">
                  <li *ngFor="let category of categoryData">
                    <label class="control control--checkbox">
                      <input class="categoriaCards" type="checkbox" value="{{category.value}}" name="{{category.value}}"
                        (change)="validateCheckFilter($event.target.checked, category, $event.target.className, $event.target)"
                        id="{{category.value}}" />
                      {{category.text}}
                    </label>
                  </li>
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterSubCategory" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Sub categoría
                </a>
                <ul class="collapse list-unstyled" id="filterSubCategory">
                  <li *ngFor="let subcategory of subCategoryData">
                    <label class="control control--checkbox">

                      <input class="subCategoriaCards" type="checkbox" value="{{subcategory.value}}"
                        name="{{subcategory.value}}"
                        (change)="validateCheckFilter($event.target.checked, subcategory, $event.target.className, $event.target)"
                        id="{{subcategory.value}}" />
                      {{subcategory.text}}
                    </label>
                  </li>
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterTipoPrenda" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Tipo de prenda
                </a>
                <ul class="collapse list-unstyled" id="filterTipoPrenda">
                  <div class="overflow-auto container-scroll">
                    <li *ngFor="let tipoprenda of tipoPrendaData">
                      <label class="control control--checkbox">
                        <input class="tipoPrendaCards" type="checkbox" value="{{tipoprenda.value}}"
                          name="{{tipoprenda.value}}"
                          (change)="validateCheckFilter($event.target.checked, tipoprenda, $event.target.className, $event.target)"
                          id="{{tipoprenda.value}}" />
                        {{tipoprenda.text}}
                      </label>
                    </li>
                  </div>
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterColor" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Color
                </a>
                <ul class="collapse list-unstyled" id="filterColor">
                  <div class="overflow-auto checkboxAlign">
                    <div *ngFor="let color of colorData">
                      <input class="colorCards colorStyles" type="checkbox" value="{{color.value}}" name="{{color.value}}" title="{{color.text}}"
                        (change)="validateCheckFilter($event.target.checked, color, $event.target.className, $event.target)"
                        id="{{color.value}}" [ngStyle]="{'background': color.hexa}" />
                    </div>
                  </div>
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterComposicion" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Composición
                </a>
                <ul class="collapse list-unstyled" id="filterComposicion">
                  <div class="overflow-auto container-scroll">
                    <li *ngFor="let composicion of composicionData">
                      <label class="control control--checkbox">
                        <input class="composicionCards" type="checkbox" value="{{composicion.value}}"
                          name="{{composicion.value}}"
                          (change)="validateCheckFilter($event.target.checked, composicion, $event.target.className, $event.target)"
                          id="{{composicion.value}}" />
                        {{composicion.text}}
                      </label>
                    </li>
                  </div>
                </ul>
              </li>

            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="clearFiltersCards()">Limpiar filtros</button>
            <button type="button" class="btn btn-primary" (click)="closeModalCards()">Cerrar</button>
          </div>
        </ng-template>
      </div>
      <div class="item-filters-top">
        <div *ngFor="let filterCards of selectedFilterCards" class="content-filter-item">
          <p class="item-filter">{{filterCards.item}}</p>
        </div>
      </div>
    </div>

    <div>
      <!-- Cards Mujer - Hombre - Kids -->
      <div class="mb-4">
        <section id="minimal-statistics">
          <div class="row">
            <div class="col-xl-4 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="cardAlign">
                      <div class="align-self-center">
                        <img src="../../../../assets/mujer.png" alt="Silueta Mujer" class="float-left imgCards">
                      </div>
                      <div>
                        <h2>Mujeres</h2>
                        <p>Nuevos: {{womenNew}}</p>
                        <p>Descontinuados: {{womendiscontinued}}</p>
                        <p>Promoción: {{womenPromotion}}</p>
                        <p>Total SKU: {{womensku}}</p>
                      </div>
                    </div>
                    <div class="detalles">
                      <a href="">
                        <span class="material-icons" style="font-size: 25px;">add_circle</span>
                      </a>
                      <a href="">
                        <p>Más detalles</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="cardAlign">
                      <div class="align-self-center">
                        <img src="../../../../assets/hombre.png" alt="Silueta Hombre" class="float-left imgCards">
                      </div>
                      <div>
                        <h2>Hombres</h2>
                        <p>Nuevos: {{menNew}}</p>
                        <p>Descontinuados: {{mendiscontinued}}</p>
                        <p>Promoción: {{menPromotion}}</p>
                        <p>Total SKU: {{mensku}}</p>
                      </div>
                    </div>
                    <div class="detalles">
                      <a href="">
                        <span class="material-icons" style="font-size: 25px;">add_circle</span>
                      </a>
                      <a href="">
                        <p>Más detalles</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="cardAlign">
                      <div class="align-self-center mr-4">
                        <img src="../../../../assets/kids.png" alt="Silueta Kids" class="float-left imgCards">
                      </div>
                      <div>
                        <h2>Kids</h2>
                        <p>Nuevos: {{kidsNew}}</p>
                        <p>Descontinuados: {{kidsdiscontinued}}</p>
                        <p>Promoción: {{kidsPromotion}}</p>
                        <p>Total SKU: {{kidssku}}</p>
                      </div>
                    </div>
                    <div class="detalles">
                      <a href="">
                        <span class="material-icons" style="font-size: 25px;">add_circle</span>
                      </a>
                      <a href="">
                        <p>Más detalles</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Cards Mujer - Hombre - Kids -->

      <!-- tabla tipo de prenda -->
      <div class="filterTable">
        <div>
          <h2>Tipo de prenda</h2>
        </div>

        <div>
          <svg xmlns="http://www.w3.org/2000/svg" (click)="openModal(template)" width="17" heigth="17"
            xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.0"
            viewBox="0.0 0.0 180.0 210.0" zoomAndPan="magnify" style="fill:#000000 " role="img"
            aria-label="Illustration of a Funnel" class="hoverSvgFilter">
            <g id="__id33_ssutzzo1g">
              <path d="m350 144.09h180v20l-70 90v100l-40-20v-80l-70-90v-20" transform="translate(-350 -144.09)"
                style="fill: inherit"></path>
            </g>
          </svg>
          <br>
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Filtros</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-unstyled components">

                <li class="active">
                  <a href="#filterMArk" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle menu-color">Marca
                  </a>
                  <ul class="collapse list-unstyled" id="filterMArk">

                    <li *ngFor="let origin of originData">
                      <label class="control control--checkbox">
                        <input class="marca" type="checkbox" value="{{origin.value}}" name="{{origin.value}}"
                          (change)="validateCheckFilter($event.target.checked, origin, $event.target.className, $event.target)"
                          id="{{origin.value}}" />
                        {{origin.text}}
                      </label>
                    </li>
                  </ul>
                </li>

                <li class="active mt-2">
                  <a href="#filterCategory" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle menu-color">Categoria
                  </a>
                  <ul class="collapse list-unstyled" id="filterCategory">
                    <li *ngFor="let category of categoryData">
                      <label class="control control--checkbox">
                        <input class="categoria" type="checkbox" value="{{category.value}}" name="{{category.value}}"
                          (change)="validateCheckFilter($event.target.checked, category, $event.target.className, $event.target)"
                          id="{{category.value}}" />
                        {{category.text}}
                      </label>
                    </li>
                  </ul>
                </li>

                <li class="active mt-2">
                  <a href="#filterSubCategory" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle menu-color">Sub categoría
                  </a>
                  <ul class="collapse list-unstyled" id="filterSubCategory">
                    <li *ngFor="let subcategory of subCategoryData">
                      <label class="control control--checkbox">

                        <input class="subCategoria" type="checkbox" value="{{subcategory.value}}"
                          name="{{subcategory.value}}"
                          (change)="validateCheckFilter($event.target.checked, subcategory, $event.target.className, $event.target)"
                          id="{{subcategory.value}}" />
                        {{subcategory.text}}
                      </label>
                    </li>
                  </ul>
                </li>

                <li class="active mt-2">
                  <a href="#filterTipoPrenda" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle menu-color">Tipo de prenda
                  </a>
                  <ul class="collapse list-unstyled" id="filterTipoPrenda">
                    <div class="overflow-auto container-scroll">
                      <li *ngFor="let tipoprenda of tipoPrendaData">
                        <label class="control control--checkbox">
                          <input class="tipoPrenda" type="checkbox" value="{{tipoprenda.value}}"
                            name="{{tipoprenda.value}}"
                            (change)="validateCheckFilter($event.target.checked, tipoprenda, $event.target.className, $event.target)"
                            id="{{tipoprenda.value}}" />
                          {{tipoprenda.text}}
                        </label>
                      </li>
                    </div>
                  </ul>
                </li>

                <li class="active mt-2">
                  <a href="#filterColor" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle menu-color">Color
                  </a>
                  <ul class="collapse list-unstyled" id="filterColor">
                    <div class="overflow-auto checkboxAlign">
                      <div *ngFor="let color of colorData">
                        <input class="color colorStyles" type="checkbox" value="{{color.value}}" name="{{color.value}}" title="{{color.text}}"
                          (change)="validateCheckFilter($event.target.checked, color, $event.target.className, $event.target)"
                          id="{{color.value}}" [ngStyle]="{'background': color.hexa}" />
                      </div>
                    </div>
                  </ul>
                </li>

                <li class="active mt-2">
                  <a href="#filterComposicion" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle menu-color">Composición
                  </a>
                  <ul class="collapse list-unstyled" id="filterComposicion">
                    <div class="overflow-auto container-scroll">
                      <li *ngFor="let composicion of composicionData">
                        <label class="control control--checkbox">
                          <input class="composicion" type="checkbox" value="{{composicion.value}}"
                            name="{{composicion.value}}"
                            (change)="validateCheckFilter($event.target.checked, composicion, $event.target.className, $event.target)"
                            id="{{composicion.value}}" />
                          {{composicion.text}}
                        </label>
                      </li>
                    </div>
                  </ul>
                </li>

              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="clearFilters()">Limpiar filtros</button>
              <button type="button" class="btn btn-primary" (click)="closeModal()">Cerrar</button>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="item-filters-top">
        <div *ngFor="let filter of selectedFilter" class="content-filter-item itemsMargin">
          <p class="item-filter">{{filter.item}}</p>
        </div>
      </div>
      <div class="tableContainer">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-striped row-border hover marginTable">
          <thead>
            <tr>
              <th class="alignTableTitles">Categoría</th>
              <th class="alignTableTitles">Subcategoría</th>
              <th class="alignTableTitles">Tipo de prenda</th>
              <th class="alignTableTitles">SKU</th>
              <th class="alignTableTitles">Precio promedio</th>
              <th class="alignTableTitles">Nueva llegada</th>
              <th class="alignTableTitles">Tasa de frescura</th>
              <th class="alignTableTitles">Descuento promedio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of photos">
              <td data-label="Categoría" class="alignTableItems"> {{e.categoria}} </td>
              <td data-label="Subcategoría" class="alignTableItems"> {{e.subCategoria}} </td>
              <td data-label="Tipo de prenda" class="alignTableItems"> {{e.tipoPrenda}} </td>
              <td data-label="SKU" class="alignTableItems"> {{tableAvgSKU}} </td>
              <td data-label="Precio promedio" class="alignTableItems"> $ {{averagePrice}} </td>
              <td data-label="Nueva llegada" class="alignTableItems"> {{averageNews2}} </td>
              <td data-label="Tasa de frescura" class="alignTableItems"> {{tasaFrescura}} </td>
              <td data-label="Descuento promedio" class="alignTableItems"> {{averageDiscount2}} % </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Fin tabla tipo de prenda -->

      <br>
      <br>
      <br>

      <app-table2></app-table2>


    </div>
  </div>
  <!-- fin tabla productos -->
</div>