<!-- Page Content -->
<div class="container-top mt-3">
    <div class="grid">
        <div class="titulo-grid1">
            <h1 class="titulo-h1">Mujeres</h1>
        </div>

        <div class="input-grid1">
            <input type="date">
            <input type="date">

            <svg xmlns="http://www.w3.org/2000/svg" width="17" heigth="17" xmlns:xlink="http://www.w3.org/1999/xlink"
                preserveAspectRatio="xMidYMid meet" version="1.0" viewBox="0.0 0.0 180.0 210.0" zoomAndPan="magnify"
                style="fill:#358da3 " role="img" aria-label="Illustration of a Funnel" class="hoverSvgFilter">
                <g id="__id33_ssutzzo1g">
                    <path d="m350 144.09h180v20l-70 90v100l-40-20v-80l-70-90v-20" transform="translate(-350 -144.09)"
                        style="fill: inherit"></path>
                </g>
            </svg>
            <br>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Filtros</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled components">

                        <li class="active">
                            <a href="#filterMArk" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Marca
                            </a>
                            <ul class="collapse list-unstyled" id="filterMArk">

                                <li *ngFor="let origin of originData">
                                    <label class="control control--checkbox">
                                        <input class="marca" type="checkbox" value="{{origin.value}}"
                                            name="{{origin.value}}"
                                            (change)="validateCheckFilter($event.target.checked, origin, $event.target.className, $event.target)"
                                            id="marca" />
                                        {{origin.text}}
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterCategory" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Categoria
                            </a>
                            <ul class="collapse list-unstyled" id="filterCategory">
                                <li *ngFor="let category of categoryData">
                                    <label class="control control--checkbox">
                                        <input class="categoria" type="checkbox" value="{{category.value}}"
                                            name="{{category.value}}"
                                            (change)="validateCheckFilter($event.target.checked, category, $event.target.className, $event.target)"
                                            id="{{category.value}}" />
                                        {{category.text}}
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterSubCategory" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Sub categoría
                            </a>
                            <ul class="collapse list-unstyled" id="filterSubCategory">
                                <li *ngFor="let subcategory of subCategoryData">
                                    <label class="control control--checkbox">

                                        <input class="subCategoria" type="checkbox" value="{{subcategory.value}}"
                                            name="{{subcategory.value}}"
                                            (change)="validateCheckFilter($event.target.checked, subcategory, $event.target.className, $event.target)"
                                            id="{{subcategory.value}}" />
                                        {{subcategory.text}}
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterTipoPrenda" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Tipo de prenda
                            </a>
                            <ul class="collapse list-unstyled" id="filterTipoPrenda">
                                <div class="overflow-auto container-scroll">
                                    <li *ngFor="let tipoprenda of tipoPrendaData">
                                        <label class="control control--checkbox">
                                            <input class="tipoPrenda" type="checkbox" value="{{tipoprenda.value}}"
                                                name="{{tipoprenda.value}}"
                                                (change)="validateCheckFilter($event.target.checked, tipoprenda, $event.target.className, $event.target)"
                                                id="{{tipoprenda.value}}" />
                                            {{tipoprenda.text}}
                                        </label>
                                    </li>
                                </div>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterColor" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Color
                            </a>
                            <ul class="collapse list-unstyled" id="filterColor">
                                <div class="overflow-auto container-scroll">
                                    <li *ngFor="let colores of colorData">
                                        <label class="control control--checkbox">
                                            <input class="color" type="checkbox" value="{{colores.value}}"
                                                name="{{colores.value}}"
                                                (change)="validateCheckFilter($event.target.checked, colores, $event.target.className, $event.target)"
                                                id="{{colores.value}}" />
                                            {{colores.text}}
                                        </label>
                                    </li>
                                </div>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterMaterials" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Composición
                            </a>
                            <ul class="collapse list-unstyled" id="filterMaterials">
                                <div class="overflow-auto container-scroll">
                                    <li *ngFor="let e of materials">
                                        <label class="control control--checkbox">
                                            <input type="checkbox" class="ml-2" /></label>
                                        {{e.materiales}}
                                    </li>
                                </div>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="localStorageAlert()">Mostrar
                        datos</button>
                    <button type="button" class="btn btn-secondary" (click)="setCheck()">Setear filtro
                        anterior</button>
                    <button type="button" class="btn btn-danger" (click)="clearFilters()">Limpiar filtros</button>
                    <button type="button" class="btn btn-primary" (click)="closeModal()">Cerrar</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<div class="grid-container">
    <div class="item1 grid-container-item1">
        <div>
            <h2>Categorías</h2>
            <div class="item1-1-content items">
                <div class="item1-1-img">
                    <img src="../../../../assets/mujer.png" alt="Silueta Mujer" class="float-left imgWoman">
                </div>
                <h3>Mujeres</h3>
                <p>Total SKU: 50</p>
                <p>% de participación: 50%</p>
                <p>Color predominante: </p>
            </div>
        </div>
        <div>
            <h2>Sub-Categorías</h2>
            <div class="item1-2-content items">
                <div class="item2-2-img">
                    <h3>Exterior</h3>
                    <img src="../../../../assets/productos/exterior.png" alt="Silueta Mujer" class="imgPrendas">
                    <p>50</p>
                    <p>50%</p>
                    <div class="colorx mb-3"></div>
                </div>
                <div class="item2-2-img">
                    <h3>Interior</h3>
                    <img src="../../../../assets/productos/interior.png" alt="Silueta Mujer" class="imgPrendas">
                    <p>50</p>
                    <p>50%</p>
                    <div class="colorx mb-3"></div>
                </div>
                <div class="item2-2-img">
                    <h3>Calzado</h3>
                    <img src="../../../../assets/productos/calzado.png" alt="Silueta Mujer" class="imgPrendas">
                    <p>50</p>
                    <p>50%</p>
                    <div class="colorx mb-3"></div>
                </div>
                <div class="item2-2-img">
                    <h3>Accesorios</h3>
                    <img src="../../../../assets/productos/accesorios.png" alt="Silueta Mujer" class="imgPrendas">
                    <p>50</p>
                    <p>50%</p>
                    <div class="colorx mb-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="item2">
        <div class="grid-container-item2 mt-4">
            <h2>Colores</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="17" heigth="17" xmlns:xlink="http://www.w3.org/1999/xlink"
                preserveAspectRatio="xMidYMid meet" version="1.0" viewBox="0.0 0.0 180.0 210.0" zoomAndPan="magnify"
                style="fill:#358da3 " role="img" aria-label="Illustration of a Funnel" class="hoverSvgFilter">
                <g id="__id33_ssutzzo1g">
                    <path d="m350 144.09h180v20l-70 90v100l-40-20v-80l-70-90v-20" transform="translate(-350 -144.09)"
                        style="fill: inherit"></path>
                </g>
            </svg>
            <br>
            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Filtros</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled components">

                        <li class="active">
                            <a href="#filterMArk" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Marca
                            </a>
                            <ul class="collapse list-unstyled" id="filterMArk">

                                <li *ngFor="let origin of originData">
                                    <label class="control control--checkbox">
                                        <input class="marca" type="checkbox" value="{{origin.value}}"
                                            name="{{origin.value}}"
                                            (change)="validateCheckFilter($event.target.checked, origin, $event.target.className, $event.target)"
                                            id="marca" />
                                        {{origin.text}}
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterCategory" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Categoria
                            </a>
                            <ul class="collapse list-unstyled" id="filterCategory">
                                <li *ngFor="let category of categoryData">
                                    <label class="control control--checkbox">
                                        <input class="categoria" type="checkbox" value="{{category.value}}"
                                            name="{{category.value}}"
                                            (change)="validateCheckFilter($event.target.checked, category, $event.target.className, $event.target)"
                                            id="{{category.value}}" />
                                        {{category.text}}
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterSubCategory" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Sub categoría
                            </a>
                            <ul class="collapse list-unstyled" id="filterSubCategory">
                                <li *ngFor="let subcategory of subCategoryData">
                                    <label class="control control--checkbox">

                                        <input class="subCategoria" type="checkbox" value="{{subcategory.value}}"
                                            name="{{subcategory.value}}"
                                            (change)="validateCheckFilter($event.target.checked, subcategory, $event.target.className, $event.target)"
                                            id="{{subcategory.value}}" />
                                        {{subcategory.text}}
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterTipoPrenda" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Tipo de prenda
                            </a>
                            <ul class="collapse list-unstyled" id="filterTipoPrenda">
                                <div class="overflow-auto container-scroll">
                                    <li *ngFor="let tipoprenda of tipoPrendaData">
                                        <label class="control control--checkbox">
                                            <input class="tipoPrenda" type="checkbox" value="{{tipoprenda.value}}"
                                                name="{{tipoprenda.value}}"
                                                (change)="validateCheckFilter($event.target.checked, tipoprenda, $event.target.className, $event.target)"
                                                id="{{tipoprenda.value}}" />
                                            {{tipoprenda.text}}
                                        </label>
                                    </li>
                                </div>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterColor" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Color
                            </a>
                            <ul class="collapse list-unstyled" id="filterColor">
                                <div class="overflow-auto container-scroll">
                                    <li *ngFor="let colores of colorData">
                                        <label class="control control--checkbox">
                                            <input class="color" type="checkbox" value="{{colores.value}}"
                                                name="{{colores.value}}"
                                                (change)="validateCheckFilter($event.target.checked, colores, $event.target.className, $event.target)"
                                                id="{{colores.value}}" />
                                            {{colores.text}}
                                        </label>
                                    </li>
                                </div>
                            </ul>
                        </li>

                        <li class="active mt-2">
                            <a href="#filterMaterials" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle menu-color">Composición
                            </a>
                            <ul class="collapse list-unstyled" id="filterMaterials">
                                <div class="overflow-auto container-scroll">
                                    <li *ngFor="let e of materials">
                                        <label class="control control--checkbox">
                                            <input type="checkbox" class="ml-2" /></label>
                                        {{e.materiales}}
                                    </li>
                                </div>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="localStorageAlert()">Mostrar
                        datos</button>
                    <button type="button" class="btn btn-secondary" (click)="setCheck()">Setear filtro
                        anterior</button>
                    <button type="button" class="btn btn-danger" (click)="clearFilters()">Limpiar filtros</button>
                    <button type="button" class="btn btn-primary" (click)="closeModal()">Cerrar</button>
                </div>
            </ng-template>
        </div>
        <div class="item2-content">
            Chart de colores
        </div>
    </div>

    <div class="item3">
        <h2>TOP 10 tipos de prenda</h2>
        <div class="table-container-colores">
            <table class="tipoP">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Total SKU</th>
                        <th>%</th>
                        <th>Color TOP</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/calzado.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">85</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Blanco</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/exterior.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">75</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Negro</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/interior.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">80</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Amarillo</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/accesorios.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">60</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Cafe</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/calzado.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">85</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Blanco</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/exterior.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">75</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Negro</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/interior.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">80</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Amarillo</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/accesorios.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">60</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Cafe</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/calzado.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">85</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Blanco</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/exterior.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">75</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Negro</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/interior.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">80</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Amarillo</td>
                    </tr>
                    <tr>
                        <td data-label="Tipo"><img src="../../../../assets/productos/accesorios.png" alt=""
                                class="imgPrendasTabla" /></td>
                        <td data-label="Total SKU">60</td>
                        <td data-label="%">60%</td>
                        <td data-label="Color TOP">Cafe</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>