<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="menu-container">
            <div class="list-group">

                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="sel1"><img src="./assets/rect.png" alt="" class="imgsel">Comparativos<img src="./assets/tri.png" alt="" class="imgsel2"></a>
                        <ul class="collapse list-unstyled firstitem" id="homeSubmenu">
                            <li class="list-items-container">
                                <a href="#" class="sel2">Precio promedio</a>
                            </li>
                        </ul>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li class="list-items-container">
                                <a href="#" class="sel2">Descuento promedio</a>
                            </li>
                        </ul>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li class="list-items-container">
                                <a href="#" class="sel2">Recien llegados</a>
                            </li>
                        </ul>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li class="list-items-container">
                                <a href="#" class="sel2">Descontinuados</a>
                            </li>
                        </ul>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li class="list-items-container">
                                <a href="#" class="sel2">Resumen sku</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#colectionSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="sel1"><img src="./assets/rect.png" alt="" class="imgsel">Productos<img src="./assets/tri.png" alt="" class="imgsel2"></a>
                        <ul class="collapse list-unstyled firstitem" id="colectionSubmenu">
                            <li class="list-items-container">
                                <a href="#" class="sel2">X</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
        <div class="container-fluid container-home mt-5">
            <div class="">

            </div>
            <div class="card-container">
                <div class="column">
                    <div class="card">
                        <img src="../../../assets/money.png" class="Capa_1" alt="money">
                        <!--todo hacer dinamico el precio y el porcentaje -->
                        <p class="card-p">Precio</p>
                        <p class="">promedio</p>  
                        <p>$ 250.000</p>
                        <p>+ 0,39%</p>
                        <p>Que el mes pasado</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../../../assets/discount.png" class="Capa_1" alt="discount">
                        <p class="card-p">Descuento</p>
                        <p class="">promedio</p>  
                        <p> 100 %</p>
                        <p>- 0,55%</p>
                        <p>Que el mes pasado</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../../../assets/new.png" class="Capa_1" alt="new">
                        <p class="">Recien llegados</p> 
                        <p>15.000</p>
                        <p>- 0,5%</p>
                        <p>Que el mes pasado</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../../../assets/remove.png" class="Capa_1" alt="remove">
                        <p class="">Descontinuados</p> 
                        <p>15.000</p>
                        <p>10,55%</p>
                        <p>Que el mes pasado</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="../../../assets/sku.png" class="Capa_1" alt="sku">
                        <p class="">Total</p>
                        <p class="">SKU</p>  
                        <p>$ 250.000</p>
                        <p>+ 0,39%</p>
                        <p>Que el mes pasado</p>
                    </div>
                </div>

            </div>
        </div>
</div>