/* CSS Acevedo */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  background-color: #cecece;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  padding: 1.5rem;
  padding-top: 3rem;
}

.contenedor-labels {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 175px;
}

.btn-sidebar {
  background: #cecece;
  border: 0px solid #cecece;
  width: 40px;
  height: 130px;
  padding-right: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hoverSvgFilter:hover {
  cursor: pointer;
}

.item-filters-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content-filter-item {
  height: 35px;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: calc(1px * 6);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-filter {
  margin: 0;
  font-weight: bold;
  color: white;
}

.iconox {
  font-size: 16px !important;
}

.menu-color {
  color: #212121;
  font-weight: bold;
}

.selectTop {
  margin-top: -20px;
  margin-right: 20px;
}

.material-icons{
  font-size: 30px;
}

.sel1 {
  font-size: 16px;
  padding: 10px 0;
  display: block;
  color: rgba(0, 0, 0, 0.987);
  border-bottom: 2px solid rgba(92, 92, 92, 0.974);
}

.sel2 {
  font-size: 14px;
  padding: 5px 0;
  display: block;
  color: rgba(0, 0, 0, 0.987);
  text-decoration: none;
}

.imgsel {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  text-align: center;
}

.imgsel2 {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}

.firstitem {
  padding-top: 10px;
}

.itemlist {
  margin-left: 30px;
}

.container-scroll {
  height: 250px;
}

#page-content-wrapper {
  min-width: 100vw;
  overflow: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    overflow: hidden;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Estilos de items del filtro*/
.list-items-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list-items-container p {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}



/* Fin CSS Acevedo */


/*  ccs Juan Pablo  */
/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 0 auto;
  height: 15rem;
}

.container-cards {
  width: 100%;
  padding: 0 10px;
}

.Capa_1 {
  margin-left: 40%;
  width: 40px;
  margin-bottom: 1rem;
}


/* sistema grid para organizar la parte superior (resumen, lista, date) */
.grid {
  display: grid;
  grid-template-columns: 60% 15% 25%;
}

.input-grid1 {
  display: grid;
  grid-template-columns: 80% 10%;
  gap: 10%;
  align-items: start;
}

/* menu desplegable */
#header {
  margin: 0 1rem;
}

#date1 {
  border: none;
  border-radius: 5%;
  background-color: #f1f1f1;
  padding: 0 0 0.5rem 0.4rem;
}

.titulo-h1 {
  padding-left: 1rem;
}

ul.nav {
  list-style: none;
  background-color: #f1f1f1;
  border-radius: 7%;
}

ul.nav:hover {
  background-color: #868686;
}


.nav li{
  color: #0a0a0a;
  text-decoration: none;
  display: block;
  width: 100%;
}

.nav > li {
  float: left;
  padding-bottom: 8px;
}

.nav li ul li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 135px;
  z-index: 3;
  background-color: #f1f1f1;
  margin-top: 8px;
  padding-right: 5px;
}

.nav li:hover {
  background-color: #868686;
}

.nav li:hover > ul{
  display: block;
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 40% 30% 30%;
  }
}


.card-p {
  text-align: center;
}

.column .card p {
  font-size: 1rem;
  font-weight: 700;
}

.card-precio {
  font-size: 1rem;
}

.card-container {
  height: 260px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* inicio estilos chart */
.chart-container {
  width: 100%;
}

.chart-line {
  width: 90%;
}

.titulo-chart {
  text-align: center;
}

/* clases del routing */
.activo {
  background-color:#c4e3eb ;
  color: black;
  
}

.porcentaje {
  color: rgb(103 209 166);
}

.porcentaje2 {
  color: rgb(255 92 96);
}

a.sel2.activo {
  background-color: transparent;
  color: #358da3;
}

a.sel2.activo::before {
  content: " "; 
  position: absolute;
  margin-top: 2.5px;
  left: 30px;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background: #358da3;
}



/* fin ccs Juan Pablo  */


/* media querys */

@media (max-width: 947px) {
  .card {
    height: auto;
  }
}

@media (min-width: 750px) {
  .chart-line {
    margin: 1rem 0;
  }
}

/* fin media querys */
  