/* CSS Acevedo */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  background-color: #cecece;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  padding: 1.5rem;
  padding-top: 3rem;
}

.sel1 {
  font-size: 16px;
  padding: 10px 0;
  display: block;
  color: rgba(0, 0, 0, 0.987);
  border-bottom: 2px solid rgba(92, 92, 92, 0.974);
}

.sel2 {
  font-size: 14px;
  padding: 5px 0;
  display: block;
  color: rgba(0, 0, 0, 0.987);
  text-decoration: none;
}

.sel2:hover {
  color: rgba(230, 97, 57, 0.987)
}

.imgsel {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  text-align: center;
}

.imgsel2 {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}

.firstitem {
  padding-top: 10px;
}

#page-content-wrapper {
  min-width: 100vw;
  overflow: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    overflow: hidden;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Estilos de items del filtro*/
.list-items-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list-items-container p {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}
/* Fin CSS Acevedo */


  /*  ccs Juan Pablo  */
/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 0 auto;
  height: 15rem;
}

.Capa_1 {
  margin-left: 40%;
  width: 32px;
  margin-bottom: 1rem;
}

.card-p {
  text-align: center;
  margin-bottom: 0;
}

.column .card p {
  font-size: 1rem;
  font-weight: 700;
}

.card-precio {
  font-size: 1rem;
}

.card-container {
  background-color: antiquewhite;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


  /* fin ccs Juan Pablo  */
  