<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="menu-container">
      <div class="list-group">
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="sel1">
              <img src="./assets/rect.png" alt="" class="imgsel material-icons" />Comparativos<img
                src="./assets/tri.png" alt="" class="imgsel2" />
            </a>
            <ul class="collapse list-unstyled firstitem itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="informePrecios" routerLinkActive="activo">Precio promedio</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="informeDescuentos" routerLinkActive="activo">Descuento promedio</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="informeNuevos" routerLinkActive="activo">Recien llegados</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="informeDescontinuados" routerLinkActive="activo">Descontinuados</a>
              </li>
            </ul>
            <ul class="collapse list-unstyled itemlist" id="homeSubmenu">
              <li class="list-items-container">
                <a class="sel2" routerLink="informeSKU" routerLinkActive="activo">Resumen sku</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#colectionSubmenu" data-toggle="collapse" aria-expanded="false" class="sel1">
              <img src="./assets/rect.png" alt="" class="imgsel" />Productos<img src="./assets/tri.png" alt="imagen"
                class="imgsel2" />
            </a>
            <ul class="collapse list-unstyled firstitem itemlist" id="colectionSubmenu">
              <li class="list-items-container">
                <a routerLink="/informeCategoria" class="sel2">X</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <div class="contenedor-labels">
    <div class="button-sidebar">
      <button class="btn-sidebar" id="menu-toggle-sidebar">
        <span class="material-icons">navigate_before</span>
      </button>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container-cards mt-3">
    <div class="grid">
      <div class="titulo-grid1">
        <h1 class="titulo-h1">{{ titulo }}</h1>
      </div>

      <div class="selectTop">
        <select class="form-control">
          <option value="">Mes</option>
          <option value="">Semana</option>
        </select>
      </div>

      <div class="input-grid1">
        <input id="date1" type="date" />

        <svg xmlns="http://www.w3.org/2000/svg" (click)="openModal(template)" width="17" heigth="17"
          xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.0"
          viewBox="0.0 0.0 180.0 210.0" zoomAndPan="magnify" style="fill:#358da3 " role="img"
          aria-label="Illustration of a Funnel">
          <g id="__id33_ssutzzo1g">
            <path d="m350 144.09h180v20l-70 90v100l-40-20v-80l-70-90v-20" transform="translate(-350 -144.09)"
              style="fill: inherit"></path>
          </g>
        </svg>
        <br>
        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Filtros</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-unstyled components">

              <li class="active">
                <a href="#filterMArk" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Marca
                </a>
                <ul class="collapse list-unstyled" id="filterMArk">

                  <li *ngFor="let origin of originData">
                    <label class="control control--checkbox">
                      {{origin.text}}
                      <input class="origin check" type="checkbox" value="{{origin.value}}" name="{{origin.value}}"
                        (change)="validateCheckFilter($event.target.checked, origin, $event.target.className, $event.target)"
                        id="{{origin.value}}" />
                      </label>
                  </li>
                  <!--
                  <li>
                    <form [formGroup]="formFilters">
                      <div *ngFor="let data of marcas">
                        <label fclass="control control--checkbox" class="radio">
                          {{data.marca}}
                          <input type="checkbox" class="check" (change)="onChange(data.marca, $event.target.checked)">
                          <br>
                        </label>
                      </div>
                    </form>
                  </li>
                  <pre>Form values: {{formFilters.value | json}}</pre>
                  -->
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterCategory" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Categoria
                </a>
                <ul class="collapse list-unstyled" id="filterCategory">
                  <li>
                    <label class="control control--checkbox" class="radio">
                      Mujer
                      <input type="checkbox" class="ml-2 check2" />
                    </label>
                  </li>
                  <li>
                    <label class="control control--checkbox">
                      Hombre
                      <input type="checkbox" class="ml-2 check2" />
                    </label>
                  <li>
                    <label class="control control--checkbox" class="radio">
                      Niña
                      <input type="checkbox" class="ml-2 check2" />
                    </label>
                  </li>
                  <li>
                    <label class="control control--checkbox">
                      Niño
                      <input type="checkbox" class="ml-2 check2" />
                    </label>
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterSubCategory" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Sub categoría
                </a>
                <ul class="collapse list-unstyled" id="filterSubCategory">
                  <li *ngFor="let e of subcategorys">
                    <label class="control control--checkbox">
                      {{e.subCategoria}}
                      <input type="checkbox" class="ml-2" /></label>
                  </li>
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterImageName" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Tipo de prenda
                </a>
                <ul class="collapse list-unstyled" id="filterImageName">
                  <li *ngFor="let e of imagesnames">
                    <label class="control control--checkbox">
                      {{e.imageName}}
                      <input type="checkbox" class="ml-2" /></label>
                  </li>
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterColor" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Color
                </a>
                <ul class="collapse list-unstyled" id="filterColor">
                  <li *ngFor="let e of colors">
                    <label class="control control--checkbox">
                      {{e.color}}
                      <input type="checkbox" class="ml-2" /></label>
                  </li>
                </ul>
              </li>

              <li class="active mt-2">
                <a href="#filterMaterials" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle menu-color">Materiales
                </a>
                <ul class="collapse list-unstyled" id="filterMaterials">
                  <li *ngFor="let e of materials">
                    <label class="control control--checkbox">
                      {{e.materiales}}
                      <input type="checkbox" class="ml-2" /></label>
                  </li>
                </ul>
              </li>

            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cerrar</button>
            <button type="button" class="btn btn-primary">Aplicar filtros</button>
          </div>
        </ng-template>

      </div>
    </div>
    <!-- inicio cards resumen -->
    <div class="container-cards">
      <div class="card-container">
        <div class="column">
          <div class="card" routerLink="informePrecios" routerLinkActive="activo">
            <img src="../../../assets/money.png" class="Capa_1" alt="money" />
            <!--todo hacer dinamico el precio y el porcentaje -->
            <p class="card-p">Precio promedio</p>
            <p>$ {{currency1}}</p>
            <p [ngClass]="difference1()">{{priceDifference[0] === 0 ? '-' : '+'}} {{priceDifference[1]}}%</p>
            <p>Que el mes pasado</p>
          </div>
        </div>
        <div class="column">
          <div class="card" routerLink="informeDescuentos" routerLinkActive="activo">
            <img src="../../../assets/discount.png" class="Capa_1" alt="discount" />
            <p class="card-p">Descuento promedio</p>
            <p> {{totalDiscount}}% </p>
            <p [ngClass]="difference2()"> {{discountDifference[0] === 0 ? '-' : '+'}} {{discountDifference[1]}}%</p>
            <p>Que el mes pasado</p>
          </div>
        </div>
        <div class="column">
          <div class="card" routerLink="informeNuevos" routerLinkActive="activo">
            <img src="../../../assets/new.png" class="Capa_1" alt="new" />
            <p class="">Recien llegados</p>
            <p> {{totalNew}} </p>
            <p [ngClass]="difference3()"> {{newsDifference[0] === 0 ? '-' : '+'}} {{newsDifference[1]}}</p>
            <p>Que el mes pasado</p>
          </div>
        </div>
        <div class="column">
          <div class="card" routerLink="informeDescontinuados" routerLinkActive="activo">
            <img src="../../../assets/remove.png" class="Capa_1" alt="remove" />
            <p class="">Descontinuados</p>
            <p>{{totalDescontinuados}}</p>
            <p>10,55%</p>
            <p>Que el mes pasado</p>
          </div>
        </div>
        <div class="column">
          <div class="card" routerLink="informeSKU" routerLinkActive="activo">
            <img src="../../../assets/sku.png" class="Capa_1" alt="sku" />
            <p class="">Total SKU</p>
            <p>{{totalsku}}</p>
            <p [ngClass]="difference5()">{{skuDifference[0] === 0 ? '-' : '+'}} {{skuDifference[1]}}</p>
            <p>Que el mes pasado</p>
          </div>
        </div>
      </div>
      <!-- fin cards container -->
    </div>

    <!-- routing a los componentes hijos -->
    <router-outlet></router-outlet>
    <br>

    <!-- Fin tabla productos -->
  </div>
  <!-- fin page-content -->
</div>