/* CSS Acevedo */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  background-color: #cecece;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  padding: 1.5rem;
  padding-top: 3rem;
}

.sel1 {
  font-size: 16px;
  padding: 10px 0;
  display: block;
  color: rgba(0, 0, 0, 0.987);
  border-bottom: 2px solid rgba(92, 92, 92, 0.974);
}

.sel2 {
  font-size: 14px;
  padding: 5px 0;
  display: block;
  color: rgba(0, 0, 0, 0.987);
  text-decoration: none;
}

.sel2:hover {
  color: rgba(230, 97, 57, 0.987);
}

.imgsel {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  text-align: center;
}

.imgsel2 {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}

.firstitem {
  padding-top: 10px;
}

#page-content-wrapper {
  min-width: 100vw;
  overflow: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    overflow: hidden;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Estilos de items del filtro*/
.list-items-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list-items-container p {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}

/* Tablas */
.table-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.table-container-sku {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  text-align: left;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

th, td{
  padding: 7px;
}

thead{
  background-color: #cecece;
  border-bottom: solid 1px #919090;
  color: #000000;
}

tr:nth-child(even){
  background-color: #ddd;
}

tr:hover td{
  background-color: rgba(230, 97, 57, 0.987);
  color: white;
}

.dif {
  color: green;
}

/* Responsive tables*/
@media screen and (max-width: 600px) {
  table {
    border: 0px;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 8px;
    display: block;
  }

  td {
    text-align: right;
    display: block;
  }

  td:last-child {
    border-bottom: 0px;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    float: left;
  }
}
/* Fin Tablas */

/* Fin CSS Acevedo */


/*  ccs Juan Pablo  */
/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 0 auto;
  height: 15rem;
}

.container-cards {
  width: 100%;
  padding: 0 10px;
}

.Capa_1 {
  margin-left: 40%;
  width: 32px;
  margin-bottom: 1rem;
}


/* sistema grid para organizar la parte superior (resumen, lista, date) */
.grid {
  display: grid;
  grid-template-columns: 60% 15% 25%;
}

.titulo-grid1 {

}

.input-grid1 {
  display: grid;
  grid-template-columns: 80% 10%;
  gap: 10%;
  align-items: start;
}

/* menu desplegable */
#header {
  margin: 0 1rem;
}

#date1 {
  border: none;
  border-radius: 5%;
  background-color: #f1f1f1;
  padding: 0 0 0.5rem 0.4rem;
}

.titulo-h1 {
  padding-left: 1rem;
}

ul.nav {
  list-style: none;
  background-color: #f1f1f1;
  border-radius: 7%;
}

ul.nav:hover {
  background-color: #868686;
}


.nav li{
  color: #0a0a0a;
  text-decoration: none;
  display: block;
  width: 100%;
}

.nav > li {
  float: left;
  padding-bottom: 8px;
}

.nav li ul li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 135px;
  z-index: 3;
  background-color: #f1f1f1;
  margin-top: 8px;
  padding-right: 5px;
}

.nav li:hover {
  background-color: #868686;
}

.nav li:hover > ul{
  display: block;
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 40% 30% 30%;
  }
}


.card-p {
  text-align: center;
  margin-bottom: 0;
}

.column .card p {
  font-size: 1rem;
  font-weight: 700;
}

.card-precio {
  font-size: 1rem;
}

.card-container {
  height: 260px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* inicio estilos chart */
.chart-container {
  width: 100%;
}

.chart-line {
  width: 90%;
}

.titulo-chart {
  text-align: center;
}


/* fin estilos chart */


/* fin ccs Juan Pablo  */


/* media querys */

@media (max-width: 947px) {
  .card {
    height: auto;
  }
}

@media (min-width: 750px) {
  .chart-line {
    margin: 1rem 0;
  }
}

/* fin media querys */
  